{% extends 'Services\Base.html' %}
{% block content %}


<style>


	.campus-col{
	  width: 233px;
	  height: 190px;
	  position: relative;
	  overflow: hidden;
	  transition: 0.5s;
	}
  
	.campus-col img{
	  width: 100%;
	  height: 100%;
	  object-fit: fill;
	  display: block;
	  transition: 0.5s;
	 
	}
	.campus-col:hover img{
		transform: scale(1.2);
	}
	.campus-col:hover{
		border: solid 0.5px;
	}
  
	.layer h6{
	  text-decoration: none;
	  color: white;
	  width: 100%;
	  font-size: 25px;
	  text-align: center;
	  top:-25%;
	  left: 50%;
	  transform: translateX(-50%);
	  position: absolute;
	  opacity: 0;
	  transition: 0.3s;

	}
  
	.layer:hover h6{

	  top: 0;
	  text-align: center;
	  opacity: 1;
	  background: rgba(27, 27, 27, 0.6);
	}
  
	.layer{
	  background: transparent;
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  transition: 0.5s;
	}
  
	.layer:hover{
	  background: rgba(83, 85, 85, 0.6);
  
	}
  
	</style>
  

<style type="text/css">


	.d-block{
		height: 320px;	
		width: 100%;
	}
	.col-sm-3{
		height: 320px;
	}


</style>

<div class="row" style="background-image: url('/media/Map1.jpg'); background-size: 400px 320px; background-repeat: no-repeat;">
	<div class="col-sm-3 col-md-6 col-lg-2" >
		<div class="detail-box "  >
			
			<div class="d-flex justify-content-center ">
				<img src="/media/LogoN.png" alt="eGramSwaraj" class="mt-5" style="height: 220px;">
			</div>
			
		</div>
		
	</div>
	<div class="col-sm-9 col-md-6 col-lg-10">

		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" style="height: 320px;">
			<div class="carousel-item active">
				<img class="d-block" src="https://cbpssubscriber.mygov.in/assets/uploads/3rpbtfC38B9muoRQ?24" alt="First slide" >
			</div>
			<div class="carousel-item">
				<img class="d-block" src="https://egramswaraj.gov.in/resources/home/images/slider-00.jpg" alt="Second slide" >
			</div>
			<div class="carousel-item">
				<img class="d-block" src="https://pmmementos.gov.in/pmmementos/static/img/pmmementos_4.a334fb2.jpg" alt="Third slide">
			</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	

</div>


<div class="row">
	


<div class="col-md-9 mb-4">

	<div class="row ml-4 mt-5 rounded-top border border-light list-group-item-secondary">
		
				<div class="col-lg-12 textEffect text-center">
					<h4 class="secondary p-2"><b>MoPR Compain/Applications Link</b></h4>
				</div>
							  
			  
				  <div class="campus-col">
						<a href="https://meetingonline.gov.in/" target="_blank">
						  <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/vibrant-sabha.jpg" alt="">
						  <div class="layer">
							 <h6>Vibrant Gram Sabha</h6>
						  </div>
						</a>
					  </div>
			  
			  
			  
				  <div class="campus-col">
						<a href="https://indiaat75.nic.in/" target="_blank">
						  <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/india-75.jpg" alt="">
						  <div class="layer">
							 <h6>India@75</h6>
						  </div>
						</a>
					  </div>
			  
			  
			  
				  <div class="campus-col">
						<a href="https://egramswaraj.gov.in/covidDashboard.do" target="_blank">
						  <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/covid-dashboard.jpg" alt="">
						  <div class="layer">
							 <h6>Covid Dashboard</h6>
						  </div>
						</a>
					  </div>
			  
			  
				  <div class="campus-col">
						<a href="https://panchayatcharter.nic.in/#/" target="_blank">
						  <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/citizen-charter.jpg" alt="">
						  <div class="layer">
							 <h6>Citizen Charter</h6>
						  </div>
						</a>
					  </div>
			  
			  
				  <div class="campus-col">
					  <a href="https://egramswaraj.gov.in/urjaDashboard.do" target="_blank">
					  <img class="img-fluid mx-auto d-block" title="Gram Urja Swaraj" src="https://egramswaraj.gov.in/resources/home/images/GramUrjaSwara-logo.jpg" alt="Gram Urja Swaraj">
					  <div class="layer">
						  <h6>Gram Urja Swaraj</h6>
					  </div>
					  </a>
				  </div>
			  

				<div class="campus-col">
					<a href="https://gpdp.nic.in/" target="_blank">
						<img class="img-fluid mx-auto d-block" alt="" src="https://egramswaraj.gov.in/resources/home/images/gpdp-logo.jpg">
						<div class="layer"> 
							<h6>GPDP</h6>
						</div>
					</a>
				</div>

				
					<div class="campus-col">
						<a href="https://serviceonline.gov.in/" target="_blank">
							<img class="img-fluid mx-auto d-block" title="Service Plus" src="https://egramswaraj.gov.in/resources/home/images/serviceplus-logo.png" alt="Service Plus">
							<div class="layer">
							<h6>Service Plus</h6>
							</div>
						</a>
				    </div>
				
				
					<div class="campus-col">
						<a href="https://auditonline.gov.in/" target="_blank">
					        <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/auditonline.jpg" alt="">
					        <div class="layer">
					           <h6>Audit Online</h6>
					        </div>
						</a>
					    </div>
				
				
					<div class="campus-col">
						<a href="https://trainingonline.gov.in/" target="_blank">
					        <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/trainingonline.jpg" alt="">
					        <div class="layer">
					           <h6>Training Management</h6>
					        </div>
						</a>
					    </div>
				
				
				
					<div class="campus-col">
						<a href="https://rgsa.gov.in/" target="_blank">
					        <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/rgsa-logo.jpg" alt="">
					        <div class="layer">
					           <h6>RGSA</h6>
					        </div>
						</a>
					    </div>
				
				
				
					<div class="campus-col">
						<a href="https://lgdirectory.gov.in/" target="_blank">
					        <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/lgd-logo.jpg" alt="">
					        <div class="layer">
					           <h6>LGD</h6>
					        </div>
						</a>
					    </div>
				
				
					<div class="campus-col">
						<a href="http://panchayataward.gov.in/" target="_blank">
					        <img class="img-fluid mx-auto d-block" src="https://egramswaraj.gov.in/resources/home/images/panchayat-award.jpg" alt="">
					        <div class="layer">
					           <h6>Panchayat Awards</h6>
					        </div>
						</a>
					    </div>
				
	</div>

{% if is_paginated %}
<div class="ml-5 mt-5 card-body">
	{% if page_obj.has_previous %}
		<a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
		<a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
		{% endif %}

	{% endfor %}

	{% if page_obj.has_next %}
		<a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
		<a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}	
</div>
{% endif %}



</div>



<div class="col-md-3">
	<div class="container mb-4">
	
      <div class="content-section mr-3">
        
          <ul class="list-group mt-3">
            <li class="list-group-item list-group-item-secondary"><i class="fa fa-calendar mr-2"></i><b>Important Dates</b></li>
            <li class="list-group-item list-group-item-light ">ANNOUNCEMENT : LG and Accenture have opennings</li>
            
          </ul>
        
      </div>
      <div class="content-section mr-3">
        
          <ul class="list-group mt-4">
            <li class="list-group-item list-group-item-secondary"><i class="fa fa-bell mr-2"></i><b>Latest News</b></li>
            <li class="list-group-item list-group-item-light">ANNOUNCEMENT : Currently No News</li>
            <li class="list-group-item list-group-item-light">New Post will arive soon</li>
            
          </ul>
        
      </div>
      </div>
</div>


</div>
{% endblock content %}